<div>
  <div class="row">
    <div class="col-md-7">
      <h3 class="right-align">3D Environments</h3>
    </div>
    <div class="col-md-1 offset-md-3">
      <!-- Modal Trigger -->
      <a class="waves-effect waves-light btn-large modal-trigger rounded" style="margin-top:40px" href="#Create-Env">Create</a>
    </div>
  </div>

  <div id="outer_wrapper" class="select-Env" style="  overflow-x: auto; overflow-y: hidden; white-space: nowrap; width:100%;"></div>


  <div class="col s12 m6 right-align">
    <!-- Modal Structure -->
    <div id="Create-Env" class="modal ">
      <div class="modal-footer">
      </div>

      <div class="modal-content container p-3 mb-2 bg-secondary text-white"">
        <h2 class=" center-align">Environment</h2>
      </div>



      <div class="modal-content container">
        <div class="row">
          <div class="col-md-5">
            <img src="/images/foresthouse.png" alt="foresthouse" class="img-fluid" >
          </div>
          <div class="col-md-7"></div>
          <div class="col s1">
            <h5 class="left-align">Position </h5>
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" X cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Y cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Z cordinates">
          </div>
          <div class="col s3">
            <h5 class="left-align">Scale </h5>
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" X cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Y cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Z cordinates">
          </div>
          <div class="col s3">
            <h5 class="left-align">Rotation </h5>
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" X cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Y cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Z cordinates">
          </div>
  
          <div class="section center-align">
            <a href="#!" class="waves-effect waves-light btn-large modal-trigger rounded">Save</a>
          </div>
  
        </div>
  
      </div>
  

      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>



<div>
  <div class="row">
    <div class="col-md-7">
      <h3 class="right-align" style="margin-right:50px">3D Models</h3>
    </div>
  </div>

  <div id="outer_wrapper" class="select-Mdl" style="  overflow-x: auto; overflow-y: hidden; white-space: nowrap; width:100%;"></div>

  <div class="section"></div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".modal");
    var instances = M.Modal.init(elems);
  });


  const obj = ['/images/miami_thumb.png', '/images/foresthouse.png']
  const title = ['Miami','Forest House'];

  
  for (i=0 ; i<obj.length ; i++) {
      var html =  '<div class="box " style="display: inline-block;width: 300px; height:200px; margin: 0 20px 0 20px; " id ="box-img"><div class="card" ><div class="card-image"><img src="'+obj[i]+'" ></div></div><h6 class="center-align">'+title[i]+'</h6><p class="center-align"><label><input type="checkbox" class="filled-in"  /><span></span></label></p></div>';
      $('.select-Env').append(html);
 }

 for (i=0 ; i<obj.length ; i++) {
  var html =  '<div class="box " style="display: inline-block;width: 300px; height:200px; margin: 0 20px 0 20px; " id ="box-img"><div class="card" ><div class="card-image"><img src="'+obj[i]+'" ></div></div><h6 class="center-align">'+title[i]+'</h6><p class="center-align"><label><input type="checkbox" class="filled-in"  /><span></span></label></p></div>';
  $('.select-Mdl').append(html);
}
</script>

