<div>
    <div class="Select-Env">

    </div>

</div>



<script>
    let dataUrl = "http://ec2-3-26-220-121.ap-southeast-2.compute.amazonaws.com:3001/api";

    

    // Retreving data from dataUrl api
    $.get(dataUrl, (result, err) => {


        for (let i = 0; i < result.data.length; i++) {
            const { environmentName, environmentCreator, vrObject } = result.data[i];
            
            let Environment = $(
                `<h3 style="text-align:center;">${environmentName}</h3>`
              );
              $(".Select-Env").append(Environment);

              for(let j=0; j < vrObject.length; j++) {
                const { name, url, _id } = vrObject[j];
                let EnvObj = $(
                   // `<div style="border-style:solid;"><h6>${name}</h6><h6>${url}</h6><h6>${_id}</h6><button class="btn waves-effect btn-large waves-light" type="button" name="action">Delete</button></div>`
                    '<div class="box" id="'+_id+'" style="display: inline-block;width: 300px; height:200px; margin: 0 20px 0 20px; ">'+
                        '<div class="card horizontal">'+
                          '<div class="card-stacked">'+
                            '<div class="card-content">'+
                              '<h5> '+name+'</h5>'+
                            '</div>'+
                            '<div class="card-action">'+
                              '<button id="'+_id+'" class="btn waves-effect btn-large waves-light" onclick="deleteObj(this.id);">Delete</button>'+
                            '</div>'+
                          '</div>'+
                        '</div>'+
                      '</div>'
                    );
                 $(".Select-Env").append(EnvObj);
              }

        } 
});

function deleteObj(id){
    $.ajax({
        url: 'http://localhost:3001/api/deleteObject',
        type: "DELETE",
        dataType: 'json',
        data: {
            "obj_id" :id
              },
        success: function (data, textStatus, xhr) {  
                console.log(data);
                location.reload();  
            },  
        error: function (xhr, textStatus, errorThrown) {  
                console.log('Error in Operation');  
            }  
    
     })
     console.log(id);
     //var objRmv = document.getElementById(id);
     //objRmv.remove(); // Removes the div with id

}

</script>
