<div id="replace" class="row">
  <% records.forEach(function(record){ %> <%-
  include("./partials/editEnvironmentCard.ejs",{record:record}) %> <% }) %>
</div>

<script>
  $(document).on('click', '.waves-effect.waves-light.btn.delete', function (e) {
    e.preventDefault();
    let id = $(this).attr('id');
    let obj_id = {
        obj_id:id
    }
    $.ajax({
      type: 'DELETE',
      url: '/api/deleteObject',
      data: obj_id,
      success: (res)=>{
          console.log(res)
          location.reload();
      },
      dataType: 'json',
    });
  });
  // Trigger Modal
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
  // Upload 3dObject
  $(document).on('click', '.waves-effect.waves-light.btn.add-obj', function (e) {
    e.preventDefault();
    let id = $(this).attr('id');

    let name = $('#obj_name').val();
    let position_x = $('#obj_position_x').val();
    let position_y = $('#obj_position_y').val();
    let position_z = $('#obj_position_z').val();
    let scale_x = $('#obj_scale_x').val();
    let scale_y = $('#obj_scale_y').val();
    let scale_z = $('#obj_scale_z').val();
    let rotation_x = $('#obj_rotation_x').val();
    let rotation_y = $('#obj_rotation_y').val();
    let rotation_z = $('#obj_rotation_z').val();

    let position = position_x.concat(" ",position_y," ",position_z)
    let scale = scale_x.concat(" ",scale_y," ",scale_z)
    let rotation = rotation_x.concat(" ",rotation_y," ",rotation_z)
    let url = $('#obj_url').val();

    let vrObject ={
        name,
        position,
        scale,
        rotation,
        url
    }

    let data = {
        id,vrObject

    }
    $.ajax({
      type: 'PUT',
      url: '/api/addObjects',
      data: data,
      success: (res)=>{
          console.log(res)
          location.reload();
      },
      dataType: 'json',
    });
   
  });
   // Update Object
   $(document).on('click', '.waves-effect.waves-light.btn.update', function (e) {
    e.preventDefault();
    let id = $(this).attr('id');
    

    let name = $('#obj_name'+id).val();
    let position_x = $('#obj_position_x'+id).val();
    let position_y = $('#obj_position_y'+id).val();
    let position_z = $('#obj_position_z'+id).val();
    let scale_x = $('#obj_scale_x'+id).val();
    let scale_y = $('#obj_scale_y'+id).val();
    let scale_z = $('#obj_scale_z'+id).val();
    let rotation_x = $('#obj_rotation_x'+id).val();
    let rotation_y = $('#obj_rotation_y'+id).val();
    let rotation_z = $('#obj_rotation_z'+id).val();
    let url = $('#obj_url'+id).val();

    let position = position_x.concat(" ",position_y," ",position_z)
    let scale = scale_x.concat(" ",scale_y," ",scale_z)
    let rotation = rotation_x.concat(" ",rotation_y," ",rotation_z)
    
    let vrObject ={
        name,
        position,
        scale,
        rotation,
        url
    }
    const env_id = <%- JSON.stringify(records[0]) %>._id;
    let data ={
        env_id,id,vrObject
    }
    console.log(env_id)

    $.ajax({
      type: 'PUT',
      url: '/api/updateObject',
      data: data,
      success: (res)=>{
          console.log(res)
          // location.reload();
      },
      dataType: 'json',
    });
  });
</script>
