<div>
    <div class="row">
        <div class="col-md-7">
            <h3 class="right-align">3D Environments</h3>
        </div>
        <div class="col-md-4 offset-md-1 ">
            <a class="waves-effect waves-light btn-large modal-trigger rounded" style="margin-top:40px"
                href="/api/createEnvironment">Create
                Environment</a>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn-large modal-trigger rounded "
                style="margin-top:40px; margin-left:10px" href="#Upl-Env">Upload
                Environment</a>
        </div>
    </div>

    <div id="outer_wrapper" style=" overflow: auto; width:100%;">
        <div id="inner_wrapper" style="width:4000px;">
            <div class="box" style="width: 300px; height:200px; float: left; margin: 0 20px 0 20px; ">
                <div class="card" >
                    <div class="card-image">
                        <img src="/images/foresthouse.png" alt="foresthouse" />
                    </div>
                </div>
                <h6 class="center-align">Forest house</h6>
            </div>
            <div class="box" style="width: 300px; height:200px; float: left; margin: 0 20px 0 0; ">
                <div class="card" >
                    <div class="card-image">
                        <img src="/images/foresthouse.png" alt="foresthouse" />
                    </div>
                </div>
                <h6 class="center-align">Forest house</h6>
            </div>
            <div class="box" style="width: 300px; height:200px; float: left; margin: 0 20px 0 0; ">
                <div class="card" >
                    <div class="card-image">
                        <img src="/images/foresthouse.png" alt="foresthouse" />
                    </div>
                </div>
                <h6 class="center-align">Forest house</h6>
            </div>           
        </div>
    </div>

    <div class="col s12 m6 right-align">
        <!-- Modal Structure -->
        <div id="Upl-Env" class="modal ">
            <div class="modal-footer">
            </div>

            <div class="modal-content container p-3 mb-2 bg-secondary text-white"">
          <h2 class=" center-align">Environment</h2>
            </div>


            <div class="modal-content container ">
                <div class="row">
                    <div class="col s1">
                        <img src="/images/foresthouse.png" alt="foresthouse" class="img-fluid">
                    </div>
                    <div class="col s10">
                        <p class="left-align" style="margin-top:10px">Environment Name: </p>
                        <input type="text" class="form-control border border-dark rounded" id="input1"
                            placeholder=" Text">
                    </div>
                    <div>
                        <form action="#">
                            <div class="file-field input-field">
                                <div class="btn waves-effect waves-light btn-large modal-trigger rounded-circle">
                                    <span>Upload</span>
                                    <input type="file" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text"
                                        placeholder="Upload one or more files">
                                </div>
                            </div>
                        </form>
                        <a class="waves-effect waves-light btn-large modal-trigger rounded-circle"
                            style="margin-right:20px" href="#!">Save</a>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>



<div>
    <div class="row">
        <div class="col-md-7">
            <h3 class="right-align" style="margin-right:50px">3D Models</h3>
        </div>
        <div class="col-md-2 offset-md-3">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn-large modal-trigger rounded" style="margin-top:40px"
                href="#Upl-Mdl">Upload
                3D Models</a>
        </div>
    </div>

    <!--
    <div class="col-md-4">
        <div class="card">
            <div class="card-image">
                <img src="/images/foresthouse.png" alt="foresthouse" />
            </div>
        </div>
        <h6 class="center-align">Forest house</h6>
    </div>
    -->

    <div id="outer_wrapper" style=" overflow: auto; width:100%;">
        <div id="inner_wrapper" style="width:4000px;">
            <div class="box" style="width: 300px; height:200px; float: left; margin: 0 20px 0 20px; ">
                <div class="card" >
                    <div class="card-image">
                        <img src="/images/foresthouse.png" alt="foresthouse" />
                    </div>
                </div>
                <h6 class="center-align">Forest house</h6>
            </div>
            <div class="box" style="width: 300px; height:200px; float: left; margin: 0 20px 0 0; ">
                <div class="card" >
                    <div class="card-image">
                        <img src="/images/foresthouse.png" alt="foresthouse" />
                    </div>
                </div>
                <h6 class="center-align">Forest house</h6>
            </div>
            <div class="box" style="width: 300px; height:200px; float: left; margin: 0 20px 0 0; ">
                <div class="card" >
                    <div class="card-image">
                        <img src="/images/foresthouse.png" alt="foresthouse" />
                    </div>
                </div>
                <h6 class="center-align">Forest house</h6>
            </div>           
        </div>
    </div>

    <div class="section"></div>
    <div class="col s12 m6 right-align">
        <!-- Modal Structure -->
        <div id="Upl-Mdl" class="modal ">
            <div class="modal-footer">
            </div>

            <div class="modal-content container p-3 mb-2 bg-secondary text-white">
                <h2 class=" center-align">3D Object</h2>
            </div>


            <div class="modal-content container ">
                <div class="row">
                    <div class="col s1">
                        <img src="/images/foresthouse.png" alt="foresthouse" class="img-fluid">
                    </div>
                    <div class="col s10">
                        <p class="left-align" style="margin-top:10px">Model Name: </p>
                        <input type="text" class="form-control border border-dark rounded" id="input1"
                            placeholder=" Text">
                    </div>
                    <div>
                        <form action="#">
                            <div class="file-field input-field">
                                <div class="btn waves-effect waves-light btn-large modal-trigger rounded-circle">
                                    <span>Upload</span>
                                    <input type="file" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text"
                                        placeholder="Upload one or more files">
                                </div>
                            </div>
                        </form>
                        <a class="waves-effect waves-light btn-large modal-trigger rounded-circle"
                            style="margin-right:20px" href="#!">Save</a>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems);
    });
</script>

<script>
    
    var inputs = document.querySelectorAll('input[type=file]');
    for(let i=0; i<inputs.length; i++){
        let file = inputs[i].files[0];
        //use file
        console.log(file);
      }
</script>
