
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<!-- JavaScript Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>
 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- Aframe environment component -->
<script src="https://unpkg.com/aframe-environment-component@1.2.0/dist/aframe-environment-component.min.js"></script>

<a-scene id="mainScene" environment="preset: forest">
    <!-- <a-planes
      position="0 0 -4"
      rotation="-90 0 0"
      scale="100 100 100"
      width="100"
      height="100"
    ></a-plane> -->
    <a-sky color="white"></a-sky>
    <a-assets id="assets"> </a-assets>
  </a-scene>

  <script>
    $(document).ready(() => {
      let dataUrl = "http://ec2-3-26-220-121.ap-southeast-2.compute.amazonaws.com:3001/api";

      let objectArray = [];

      // Retreving location,scale & rotation from dataUrl api
      $.get(dataUrl, (result, err) => {
        const { environmentName, environmentCreator, vrObject } =
          result.data[0];
        let { position, scale, rotation } = vrObject[0];
        //https://launchpad-mapp3d.s3.ap-southeast-2.amazonaws.com/Objects/1642564843834-sweet-home.glb
        console.log(scale);

        let models = [
          {
            model: "cars",
            scale: scale,
            rotation: rotation,
            position: position,
          },
          {
            model: "trees",
            scale: "0.5 0.5 0.5",
            rotation: "0 270 0",
            position: "-3.331 0.448 -3.212 ",
          },
          {
            model: "sweet-home",
            scale: "1 1 1",
            rotation: "0 -90 0",
            position: "-0.217 6.000 -14.453 ",
          }
        ];

        let assets = [
          {
            name: "tree",
            url: "https://bucketbeforekicks.s3.ap-southeast-2.amazonaws.com/tree.glb",
          },
          {
            name: "cars",
            url: "https://launchpad-mapp3d.s3.ap-southeast-2.amazonaws.com/Objects/1642563289503-sedan.glb",
          },
          {
            name: "trees",
            url: "https://launchpad-mapp3d.s3.ap-southeast-2.amazonaws.com/Objects/1642561273180-trees.glb",
          },
          {
            name: "sweet-home",
            url: "https://launchpad-mapp3d.s3.ap-southeast-2.amazonaws.com/Objects/1642564843834-sweet-home.glb",
          }
        ];

        //load the assets dynamically
        assets.forEach((asset) => {
          let tAsset = $(
            `<a-asset-item  id="${asset.name}" src="${asset.url}"></a-asset-item>`
          );
          $("#assets").append(tAsset);
        });

        models.forEach((model) => {
          console.log(model);
          //let test=$(`<div>Hello ${model}</div>`)
          let test = $(
            `<a-entity scale="${model.scale}" rotation="${model.rotation}" position="${model.position}" gltf-model="#${model.model}"></a-entity>`
          );
          $("#mainScene").append(test);
          console.log(test);
        });
        document
          .querySelector("a-entity")
          .addEventListener("click", function (evt) {
            console.log("This A-Frame entity collided with another entity!");
          });
      });
    });
  </script>
</html>