<div>
    <div class="row">
        <div class="col-md-7">
            <h3 class="right-align">3D Environments</h3>
        </div>
        <div class="col-md-4 offset-md-1 ">
            <a class="waves-effect waves-light btn-large modal-trigger rounded" style="margin-top:40px"
                href="/api/createEnvironment">Create
                Environment</a>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn-large modal-trigger rounded "
                style="margin-top:40px; margin-left:10px" href="#Upl-Env" >Upload
                Environment</a>
        </div>
    </div>


    <div id="outer_wrapper" style="  overflow-x: auto; overflow-y: hidden; white-space: nowrap; width:100%;"></div>


    <div class="col s12 m6 right-align">
        <!-- Modal Structure -->
        <div id="Upl-Env" class="modal ">
            <div class="modal-footer">
            </div>

            <div class="modal-content container p-3 mb-2 bg-secondary text-white"">
          <h2 class=" center-align">Environment</h2>
            </div>


            <div class="modal-content container ">
                <div class="row">
                    <div class="col s1">
                        <img  class="img-fluid" id="disp-img">
                    </div>
                    <div class="col s10">
                        <p class="left-align" style="margin-top:10px">Environment Name: </p>
                        <input type="text" class="form-control border border-dark rounded" id="Env-name"
                            placeholder=" Text">
                    </div>
                    <div style="display:flex; flex-direction: row;">
                        <form class="upload" style="display: flex; flex-direction: column;">
                            <div class="file-field input-field">
                                <div class="btn waves-effect waves-light btn-large modal-trigger rounded">
                                    <span>Choose File</span>
                                    <input type="file" name="uploadFile" multiple id="file-inp" >
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Upload one or more files" id ="file-wraper">
                                </div>
                            </div>
                            <div>
                                <a class="waves-effect waves-light btn-large modal-trigger rounded"
                            style="margin-right:20px" type="submit" id="upl-env">Upload</a>
                            </div>
                            <div>
                                <a class="waves-effect waves-light btn-large modal-trigger rounded"
                                    style="margin-right:20px" href="#!" onclick="" >Save</a>
                                </div>
                        </form>
                        
                    </div>
                </div>
            </div>

            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>


<div>
    <div class="row">
        <div class="col-md-7">
            <h3 class="right-align" style="margin-right:50px">3D Models</h3>
        </div>
        <div class="col-md-2 offset-md-3">
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn-large modal-trigger rounded" style="margin-top:40px"
                href="#Upl-Mdl">Upload
                3D Models</a>
        </div>
    </div>

    <div id="outer_wrapper" class="outer_wrapper" style="  overflow-x: auto; overflow-y: hidden; white-space: nowrap; width:100%;"></div>

    <div class="section"></div>
    <div class="col s12 m6 right-align">
        <!-- Modal Structure -->
        <div id="Upl-Mdl" class="modal ">
            <div class="modal-footer">
            </div>

            <div class="modal-content container p-3 mb-2 bg-secondary text-white">
                <h2 class=" center-align">3D Object</h2>
            </div>


            <div class="modal-content container ">
                <div class="row">
                    <div class="col s1">
                        <img class="img-fluid" id="disp-img1">
                    </div>
                    <div class="col s10">
                        <p class="left-align" style="margin-top:10px">Model Name: </p>
                        <input type="text" class="form-control border border-dark rounded" id="Mdl-name"
                            placeholder=" Text">
                    </div>
                    <div>
                        <form action="#">
                            <div class="file-field input-field">
                                <div class="btn waves-effect waves-light btn-large modal-trigger rounded">
                                    <span>Upload</span>
                                    <input type="file" multiple id="file-inp1">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text"
                                        placeholder="Upload one or more files" id ="file-wraper1">
                                </div>
                            </div>
                        </form>
                        <a class="waves-effect waves-light btn-large modal-trigger rounded"
                            style="margin-right:20px" href="#!">Save</a>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems);
    });

     const obj = ['/images/miami_thumb.png', '/images/foresthouse.png', '/images/360waterfall.png']
     const title = ['Miami','Forest House', 'water fall'];

     
     for (i=0 ; i<obj.length ; i++) {
         var html = '<div class="box " style="display: inline-block;width: 300px; height:200px; margin: 0 20px 0 20px; " id ="box-img"><div class="card" ><div class="card-image"><img src="'+obj[i]+'" ></div></div><h6 class="center-align">'+title[i]+'</h6></div>'; 
         $('#outer_wrapper').append(html);
    }

    for (i=0 ; i<obj.length ; i++) {
        var html = '<div class="box " style="display: inline-block;width: 300px; height:200px; margin: 0 20px 0 20px; " id ="box-img"><div class="card" ><div class="card-image"><img src="'+obj[i]+'" ></div></div><h6 class="center-align">'+title[i]+'</h6></div>'; 
        $('.outer_wrapper').append(html);
   }

   let imagen;
   $('#file-inp').change(()=>{
    const files = $('#file-inp').prop("files");
    for (i=0 ; i<files.length ; i++) {
        if ($.inArray(files[i].name.substring(files[i].name.lastIndexOf('.') + 1), ['jpg', 'png'])  > -1){
              imagen = URL.createObjectURL(files[i]);
              console.log(URL.createObjectURL(files[i]));
              $('#disp-img').attr('src', imagen);
        }
    }
    

    // $("#upl-env").click(function(){

    //     let dataUrl1 = "http://ec2-3-25-145-248.ap-southeast-2.compute.amazonaws.com:3001/";
    //     let dataUrl = "/aws/env/upload"
    //     $.post(dataUrl, function(imagen, status){
    //       alert("Data: " + imagen + "\nStatus: " + status);
    //     });
    //   });
    });

    // upload file
    const uploadForm = document.querySelector('.upload')

    uploadForm.addEventListener('submit',function(e){
        e.preventDefault()
        let file = e.target.uploadFile.files[0];
         
        console.log(file)
        let formData = new FormData();
        formData.append('file',file)

        fetch('http://localhost:3001/aws/env/upload',{
            method:'POST',
            body:formData
        })
        .then(res=>res.json())
        .then(data=>{
            if(data.errors){
                alert(data.errors)
            }else{
                console.log(data)
            }
        })
    })

    // $('#file-inp1').change(()=>{
    // const files = $('#file-inp1').prop("files");
    // for (i=0 ; i<files.length ; i++) {
    //     if ($.inArray(files[i].name.substring(files[i].name.lastIndexOf('.') + 1), ['jpg', 'png'])  > -1){
    //           const imagen = URL.createObjectURL(files[i]);
    //           console.log(URL.createObjectURL(files[i]));
    //           $('#disp-img1').attr('src', imagen);
    //     }
    // }
    // });

    $("#file-wraper").val('');
    $("#file-wraper1").val('');
    $("#Env-name").val('');
    $("#Mdl-name").val('');


</script>
