<script src="https://unpkg.com/aframe-environment-component@1.2.0/dist/aframe-environment-component.min.js"></script>
<div id="replace" class="row">
  <% records.forEach(function(record){ %> <%-
  include("./partials/environmentCard.ejs",{record:record}) %> <% }) %>
</div>
<script>
  $(document).on('click', '.waves-effect.waves-light.btn', function (e) {
    e.preventDefault();
    let id = $(this).attr('id');
    window.location.href = "/api/editEnvironment/" + id;
  });
</script>
